@tailwind base;
@tailwind components;
@tailwind utilities;

/* Apply custom scrollbar to all elements */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.3) #2d2d2d;
}

/* For Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #2d2d2d;
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  border: 2px solid #2d2d2d;
}

*::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.5);
}




